<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>160851528289-jdu814fdu0tt4kskpq5t3f3cm72m9g0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160851528289-jdu814fdu0tt4kskpq5t3f3cm72m9g0s</string>
	<key>API_KEY</key>
	<string>AIzaSyDjBVqRbgxR2xi7GqOJgcRYHcQIsXZSYos</string>
	<key>GCM_SENDER_ID</key>
	<string>160851528289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adqmobile.test-firebase-flux</string>
	<key>PROJECT_ID</key>
	<string>test-firebase-66b28</string>
	<key>STORAGE_BUCKET</key>
	<string>test-firebase-66b28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160851528289:ios:c717b573f52b776e</string>
	<key>DATABASE_URL</key>
	<string>https://test-firebase-66b28.firebaseio.com</string>
</dict>
</plist>